/* Root */
:root {
  --fonttype: crique grotesque, sans-serif;
  --headercolor: #242841;
  --normaltextcolor: #a3a4a8;
  --bluegeneral: #4d61d1;
  --salmongeneral: #fdaf90;
}

/* General type of text*/
h1,
h2,
h3 {
  font-family: var(--fonttype);
  font-weight: 600;
  letter-spacing: 0.1vw;
  line-height: 10vw;
  color: var(--headercolor);
  text-align: center;
}

h1 {
  font-size: 7.5vw;
  margin: 5% 10%;
}

h2 {
  font-size: 6.5vw;
  line-height: 8vw;
  margin: 4.5% 10%;
}

h3 {
  font-size: 5.25vw;
}

p {
  font-family: var(--fonttype);
  font-weight: 500;
  font-size: 3.75vw;
  letter-spacing: 0.15vw;
  line-height: 6vw;
  color: var(--normaltextcolor);
  text-align: center;
  margin: 0 10%;
}

/* Similar base */
.button-chromep1,
.button-part3,
.button-part4,
.button-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bluegeneral);
  border: solid var(--bluegeneral);
  cursor: pointer;

  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(220, 220, 220);

  font-family: var(--fonttype);
  font-weight: 550;
  font-size: 3.5vw;
  color: white;
  text-align: center;
}

/* Mobile format */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

/* Header styles 
    This is the header of the page, which contains the logo and navigation menu. */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 12%;
  margin-bottom: 20%;
}

.img-logo {
  width: 50%;
}

.button-header {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img-hamburger {
  height: 65%;
  margin: auto;
}

/* Parte 1 styles
    This is the first part of the page which contains the illustration and the "Bookmark Manager" text. */
.section-part1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.div-illustration {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  position: relative;
}

.img-illustration {
  width: 95%;
}

.figure {
  background-color: var(--bluegeneral);
  width: 70%;
  height: 75%;
  left: 30%;
  top: 30%;
  border-bottom-left-radius: 30%;
  z-index: -1;
  position: absolute;
}

.div-button-part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  margin-top: 10%;
  margin-bottom: 25%;
}

.button-chromep1 {
  width: 42.5%;
  height: 195%;
}

.button-chromep1:active {
  background-color: white;
  color: var(--bluegeneral);
}

.button-firefoxp1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42.5%;
  height: 195%;
  background-color: #f7f7f7;
  border: solid #f7f7f7;
  cursor: pointer;

  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(220, 220, 220);

  font-family: var(--fonttype);
  font-weight: 550;
  font-size: 3.5vw;
  color: rgb(132, 132, 132);
  text-align: center;
}

.button-firefoxp1:active {
  background-color: white;
  border: solid rgb(132, 132, 132);
  color: rgb(132, 132, 132);
}

/* Parte 2 styles
    This is the second part which contains the part of "features". */
.section-part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25%;
}

.section-part2 .div-illustration {
  margin-top: 20%;
  margin-bottom: 15%;
}

.tab-content {
  display: none;
}

.img-illustration2 {
  width: 80%;
}

.section-part2 .figure {
  height: 100%;
  width: 77.5%;
  left: 0%;
  right: 30%;
  top: 17.5%;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 0%;
}

.div-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 10%;
}

.button-part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4em;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(192, 192, 192);
  cursor: pointer;

  font-family: var(--fonttype);
  font-size: 4.25vw;
  font-weight: 550;
  color: rgb(132, 132, 132);
  text-align: center;
}

.button-part2:first-child {
  border-top: solid 0.5px rgb(192, 192, 192);
}

.button-part2:hover {
  color: var(--salmongeneral);
}

.button-part2.active {
  position: relative;
  color: var(--salmongeneral);
  background-color: transparent;
}

.button-part2.active::after {
  content: "";
  position: absolute;
  left: 27.5%;
  right: 27.5%;
  bottom: 0;
  height: 4px;
  background: var(--salmongeneral);
}

/* Parte 3 styles
    This is the third part which contains a link to download the extension. (Not included in the final project) */
.section-part3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35%;
}

.contenedor-extension {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20% auto 0 auto;

  width: 80%;
  height: 100%;

  border-radius: 5%;
  box-shadow: 0 10px 20px rgb(220, 220, 220);
}

.img-extension {
  width: 30%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.img-extesion-division {
  width: 100%;
  margin-top: 7.5%;
  margin-bottom: 10%;
}

.button-part3 {
  width: 18rem;
  height: 2.5rem;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.button-part3:active {
  background-color: white;
  color: var(--bluegeneral);
}

/* Parte 4 styles
    This is the forth part which contains FAQs about the app. */
.section-part4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%; /*Por cambiar*/
}

.section-part4 > div {
  width: 100%;
  box-sizing: border-box;
  padding: 0 7.5%;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
}

details > summary {
  list-style: none;
}

.details-part4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  margin: 10% 0;
  padding-bottom: 7.5%;
  border-bottom: solid 1px rgb(192, 192, 192);
}

.summary-part4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--fonttype);
  font-weight: 550;
  font-size: 3.75vw;
  color: rgb(62, 62, 62);
  letter-spacing: 0.1vw;
  text-align: left;
  cursor: pointer;
}

.summary-part4::after {
  /* Flecha que indica si el FAQ está abierto o cerrado */
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-image: url("https://github.com/alexgesti/1.1-HTML-i-CSS-amb-Flex/blob/main/Imagenes/icon-arrow.svg?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s, filter 0.3s;
  transform-origin: 50% 50%;
}

.details-part4[open] .summary-part4::after {
  /* Cambia el color de la flecha al abrir */
  transform: rotate(180deg);
  filter: invert(27%) sepia(99%) saturate(2050%) hue-rotate(-15deg)
    brightness(92.5%) contrast(90%);
}

.p-part4 {
  font-family: var(--fonttype);
  font-weight: 500;
  font-size: 3.75vw;
  letter-spacing: 0.1vw;
  line-height: 7vw;
  color: gray;
  text-align: left;
  margin: 7.5% 0;
  padding: 0;
}

.button-part4 {
  width: 30%;
  height: 6vh;
  margin-top: 10%;
  margin-bottom: 20%;
  letter-spacing: 0.1vw;
}

.button-part4:active {
  background-color: white;
  color: var(--bluegeneral);
}

/* Footer styles 
    This is the footer/end of the page, where you can send your email adress to stay in contact, go quickly to one of the sections of the page or visit one of the social webs of the company. */
.section-contact {
  /* Contact section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--bluegeneral);
}

.h3-footer {
  font-weight: 550;
  font-size: 3.5vw;
  letter-spacing: 1vw;
  color: white;
  margin-top: 15%;
}

.h2-footer {
  width: 100%;
  letter-spacing: 0.2vw;
  color: white;
  margin-top: 0%;
  margin-bottom: 7.5%;
}

.div-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2.5%;
  position: relative;
}

.input-email-footer {
  width: 85%;
  height: 4vh;
  border-radius: 7.5px;

  font-family: var(--fonttype);
  font-size: 4vw;
  padding-left: 1em;
}

.input-email-footer.error {
  border: 5px solid rgb(255, 101, 83);
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.img-error-footer {
  display: none;
  width: 6%;
  top: 16%;
  right: 7.5%;
  position: absolute;
}

.email-error {
  display: none;
  align-items: center;
  width: 90%;
  color: white;
  background-color: rgb(255, 101, 83);
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  margin-top: -0.1em;

  font-family: var(--fonttype);
  font-style: italic;
  font-size: 3.5vw;
  letter-spacing: 0.1vw;
  text-align: left;

  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2.5%;
}

.button-contact {
  width: 90%;
  height: 6vh;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: rgb(255, 101, 83);
  border: solid rgb(255, 101, 83);

  border-radius: 7.5px;
  box-shadow: none;

  font-weight: 550;
  font-size: 4vw;
  letter-spacing: 0.25vw;
}

.button-contact:active {
  background-color: white;
  color: rgb(255, 101, 83);
}

.section-links {
  /* Links section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(39, 39, 76);
}

.img-logofooter {
  width: 40%;
  margin-top: 10%;
}

.div-button-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.button-footer {
  display: flex;
  width: fit-content;
  background: none;
  border: none;

  font-family: var(--fonttype);
  font-weight: 500;
  font-size: 3.75vw;
  letter-spacing: 0.5vw;
  color: white;
  cursor: pointer;

  margin: 15% 0;
}

.button-footer:active {
  color: var(--salmongeneral);
  outline: none;
}

.ul-sociallinks {
  display: flex;
  flex-direction: row;
  gap: 12.5vw;
  margin-bottom: 10%;
}

.img-sociallinks {
  width: 5.5vw;
  height: 5vw;
}

.ul-sociallinks a:active .img-sociallinks {
  filter: invert(70%) sepia(60%) saturate(1200%) hue-rotate(-10deg)
    brightness(160%) contrast(85%);
}

/* Correcciones móvil L+*/
@media (min-width: 425px) and (max-width: 767px) {
  .contenedor-extension {
    width: 25rem;
  }

  .button-part3 {
    width: 30rem;
    height: 10vh;
  }

  .button-part4 {
    width: 10rem;
    height: 8vh;
  }

  .input-email-footer {
    height: 6vh;
  }

  .img-error-footer {
    width: 7vw;
    top: 17.5%;
  }

  .email-error {
    width: 89.25%;
  }

  .button-contact {
    height: 6vh;
  }
}

/* Correcciones tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /*Acabar de ajustar en pantalla completa*/
  .img-illustration {
    width: 100%;
  }

  .figure {
    width: 80%;
  }

  .contenedor-extension {
    width: 40rem;
  }

  .button-part3 {
    width: 45rem;
    height: 15vh;
    font-size: 3.5vw;
  }

  .button-part4 {
    height: 10vh;
  }

  .input-email-footer {
    height: 10vh;
  }

  .img-error-footer {
    top: 12.5%;
  }

  .email-error {
    width: 88%;
  }

  .button-contact {
    height: 10vh;
  }
}

/*@media (max-width: 768px) { /* Web format (NO hay que poner todo)
    
}*/
