/* Root */
/* General type of text*/
h1,
h2,
h3 {
  letter-spacing: 0.1vw;
}

p {
  letter-spacing: 0.15vw;
}

/* Botones base */
.button-blue {
  background-color: #4d61d1;
  border: solid #4d61d1;
  color: white;
}
.button-blue:active, .button-blue:hover {
  background-color: white;
  color: #4d61d1;
}
.button-blue#more-info-button {
  display: none;
}

.button-grey {
  background-color: solid rgb(132, 132, 132);
  border: solid #f0f0f0;
}
.button-grey:active, .button-grey:hover {
  background-color: white;
  border: solid rgb(132, 132, 132);
}

.button-salmon {
  background-color: rgb(255, 101, 83);
  border: solid rgb(255, 101, 83);
  color: white;
  letter-spacing: 0.25vw;
}
.button-salmon:active, .button-salmon:hover {
  background-color: white;
  color: rgb(255, 101, 83);
}

.button-tab {
  color: rgb(132, 132, 132);
  position: relative;
}
.button-tab.active, .button-tab:hover {
  color: #fdaf90;
  background-color: transparent;
}
.button-tab.active::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 4px;
  background: #fdaf90;
  pointer-events: none;
}

.button-footer {
  color: white;
}
.button-footer:active, .button-footer:hover {
  color: #fdaf90;
  outline: none;
}

/* General uses */
.backgroundBlue {
  background-color: #4d61d1;
}

.backgroundDarkBlue {
  background-color: rgb(39, 39, 76);
}

.translateYDown {
  transform: translateY(25%);
}

.w-40 {
  width: 40%;
}

.w-65 {
  width: 65%;
}

.w-85 {
  width: 85%;
}

.end-35 {
  right: 35%;
}

.top-40 {
  top: 40%;
}

.fs-7 {
  font-size: 0.75rem;
}

/* Body */
body {
  font-family: "crique grotesque", sans-serif;
}

/* Images */
.img-error-footer {
  top: 25%;
  transform: translateY(-25%);
  right: 3.5%;
}

.ul-sociallinks a:hover .img-sociallinks,
.ul-sociallinks a:active .img-sociallinks {
  filter: invert(70%) sepia(60%) saturate(1200%) hue-rotate(-10deg) brightness(160%) contrast(85%);
}

/* Detail */
.icon-arrow {
  transition: transform 0.3s, filter 0.3s;
  transform-origin: 50% 50%;
}

.detail-arrow[open] .icon-arrow {
  /* Cambia el color de la flecha al abrir */
  transform: rotate(180deg);
  filter: invert(27%) sepia(99%) saturate(2050%) hue-rotate(-15deg) brightness(92.5%) contrast(90%);
}

/* Header */
header {
  /* Header dropdown*/
}
header .dropdown-menu-custom {
  inset: 0;
  background: rgba(37, 48, 68, 0.85);
}
header .dropdown-menu-custom .img-logo-dropdown {
  top: clamp(35.2px, 11vw, 45.1px);
  left: 10vw;
  min-width: 128px;
  max-width: 164px;
}
header .dropdown-menu-custom .dropdown-close {
  top: clamp(38.4px, 12vw, 49.2px);
  right: 10vw;
}
header .dropdown-menu-custom .dropdown-close:hover, header .dropdown-menu-custom .dropdown-close:active {
  filter: invert(62%) sepia(77%) saturate(749%) hue-rotate(-14deg) brightness(101%) contrast(101%);
}
header .dropdown-menu-custom .button-dropdown {
  letter-spacing: 0.75vw;
  background-color: transparent;
  color: white;
}
header .dropdown-menu-custom .button-dropdown:hover, header .dropdown-menu-custom .button-dropdown:active {
  background-color: rgba(255, 255, 255, 0.25);
  color: #242841;
}
header .dropdown-menu-custom .button-dropdown:last-child:hover, header .dropdown-menu-custom .button-dropdown:last-child:active {
  background-color: white;
  color: #242841;
}
header .dropdown-menu-custom .img-sociallinks-header:hover, header .dropdown-menu-custom .img-sociallinks-header:active {
  filter: invert(62%) sepia(77%) saturate(749%) hue-rotate(-14deg) brightness(101%) contrast(101%);
}/*# sourceMappingURL=styles.css.map */